$palettes1: (
  primary: (
    0: #000000,
    10: #101a38,
    20: #262f4e,
    25: #313a5a,
    30: #3c4566,
    35: #485172,
    40: #545d7f,
    50: #6d7699,
    60: #868fb4,
    70: #a1aacf,
    80: #bcc5ec,
    90: #dce1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #000e5e,
    20: #001c95,
    25: #0023b1,
    30: #012bcf,
    35: #1e3cda,
    40: #2f4ae6,
    50: #4e66ff,
    60: #7487ff,
    70: #98a5ff,
    80: #bbc3ff,
    90: #dee0ff,
    95: #f0efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #171e00,
    20: #2a3500,
    25: #344000,
    30: #3e4c00,
    35: #485900,
    40: #536600,
    50: #698000,
    60: #809b00,
    70: #97b800,
    80: #b0d500,
    90: #c9f300,
    95: #dcff5f,
    98: #f4ffc7,
    99: #fbffe0,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1e,
    20: #303033,
    25: #3b3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #787679,
    60: #929093,
    70: #acaaad,
    80: #c8c6c9,
    90: #e4e2e5,
    95: #f3f0f3,
    98: #fbf8fc,
    99: #fefbfe,
    100: #ffffff,
    4: #0e0e10,
    6: #131315,
    12: #1f1f22,
    17: #2a2a2c,
    22: #353437,
    24: #39393b,
    87: #dcd9dc,
    92: #eae7ea,
    94: #ffffff,
    96: #f6f3f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1b22,
    20: #2f3037,
    25: #3a3b42,
    30: #45464e,
    35: #515259,
    40: #5d5e65,
    50: #76767e,
    60: #909098,
    70: #abaab3,
    80: #c6c6ce,
    90: #e2e1eb,
    95: #f1f0f9,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$palettes: (
  primary: (
    0: #000000,
    10: #331200,
    20: #4D1F00,
    25: #5F2800,
    30: #713100,
    35: #833A00,
    40: #954300,
    50: #B95600,
    60: #D66A14,
    70: #E88234,
    80: #F79A55,
    90: #FFB77D,
    95: #FFDAC3,
    98: #FFF0E6,
    99: #FFF8F4,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #1A1400,
    20: #2F2500,
    25: #3A2E00,
    30: #463700,
    35: #514000,
    40: #5D4A00,
    50: #755E00,
    60: #8E7300,
    70: #A78900,
    80: #C1A000,
    90: #DBB700,
    95: #F4D144,
    98: #FFF3D5,
    99: #FFFAEB,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #002022,
    20: #003739,
    25: #004347,
    30: #004F54,
    35: #005B61,
    40: #00686E,
    50: #008189,
    60: #009BA4,
    70: #2DB6C0,
    80: #57D2DC,
    90: #84EEF8,
    95: #C1F7FF,
    98: #F0FBFF,
    99: #F8FDFF,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #1A1A1D,
    20: #2E2E32,
    25: #39393D,
    30: #45454A,
    35: #515156,
    40: #5D5D62,
    50: #76767B,
    60: #909095,
    70: #ABABAF,
    80: #C7C6CA,
    90: #E3E2E6,
    95: #F2F0F4,
    98: #FAF9FD,
    99: #FEFCFF,
    100: #FFFFFF,
    4: #0d0d10,
    6: #121215,
    12: #1e1e22,
    17: #28282c,
    22: #343438,
    24: #39393d,
    87: #d8d7dc,
    92: #e6e5e9,
    94: #eeecf0,
    96: #f5f3f7
  ),
  neutral-variant: (
    0: #000000,
    10: #1B1A1E,
    20: #2F2E32,
    25: #3A393D,
    30: #46444A,
    35: #525056,
    40: #5E5C62,
    50: #77757B,
    60: #918F96,
    70: #ACAAB1,
    80: #C7C5CC,
    90: #E4E1E7,
    95: #F2EFF5,
    98: #FBF8FD,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410001,
    20: #690004,
    25: #7E0006,
    30: #930009,
    35: #A80710,
    40: #BA1B1A,
    50: #DD3730,
    60: #FF5449,
    70: #FF897A,
    80: #FFB4A9,
    90: #FFDAD4,
    95: #FFEDE9,
    98: #FFF8F6,
    99: #FFFBFF,
    100: #FFFFFF
  ),
);